body {
<<<<<<< HEAD
    background-color: green;}
div {
    color:coral;
width: 300px;
height: 600px;
background-color: orchid}

.col {color: darkslateblue;
width:200px;
height: 100px;}

#midColumn {color: firebrick;
=======
  min-height: 100vh;
}

header {
  min-height: 20vh;
}

#mainBody {
  min-height: 70vh;
}

footer {
  min-height: 10vh;
}

#heroImage {
  /* height: 10vh; */
  max-width: 100px;
}

.fourColumns {
  background-color: royalblue;
  min-height: 10vh;
  margin: 10px;
}

.topFourColumns {
  border: solid 1px black;
}

.eachCol {
  width: 350px;
  margin: 10px;
  border: solid 5px pink;
  display: inline-block;
>>>>>>> fba6ef1e63ee1947244dc4df2e76630605dc1bd1
}
